.input__wrapper {
  position: relative;

  width: 100%;
}

.input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;

  color: #757575;
  border: 1px solid black;
  border-radius: 10px;

  font-size: 16px;
}

.resetTitileBtn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 24px;
  height: 24px;

  cursor: pointer;

  color: #d1d1d1;
}

.resetTitileBtn:hover {
  color: #858585;
}

.searchBtn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 24px;
  height: 24px;

  color: #d1d1d1;
}

.filter__wrapper {
  display: flex;
  gap: 20px;
}
